@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cfc5eb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5d42a7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #493385;
}
.primary-button{
  border-radius: 4px;
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
}

.globe {
  animation-name: spin;
  animation-duration: 80000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}